<div class="font-semibold font-title">
    This is our second tab
</div>
<p>
    Welcome to Microsoft Teams Hello World sample app (C#)
</p>
<iframe height="100%" src="~/Content/doom.html" onload="let self = this; setTimeout(1000, () => { self.style.height = self.contentWindow.document.documentElement.scrollHeight + 'px'; } );" />